.table {
  width:90%;
  text-align: justify;
}
.table-td {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-tr:nth-child(even) {
  background-color: lavender;
}

.table-tr:hover {
  background-color: lightcyan;
}
.table-th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightcyan;
  text-align: center;
  text-transform: uppercase;
}
